# Copy this file to .env and fill in your values
# NEVER commit .env to the repo

JWT_SECRET=change_this_to_a_long_random_string_min_32_chars
JWT_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=604800

AUTH_SERVICE_URL=http://auth-service:3001
INCIDENT_SERVICE_URL=http://incident-service:3002
DISPATCH_SERVICE_URL=http://dispatch-service:3003
ANALYTICS_SERVICE_URL=http://analytics-service:3004

RABBITMQ_URL=amqp://rabbitmq:5672

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
AUTH_DB_NAME=users_db
INCIDENT_DB_NAME=incidents_db
ANALYTICS_DB_NAME=analytics_db

MONGO_URI=mongodb://mongo:27017/vehicles_db
REDIS_URL=redis://redis:6379
